@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.typing {
  white-space: pre-wrap;
  word-break: normal;
  display: inline-block;
}

.letter {
  opacity: 0;
  display: inline;
}
