.container {
  padding-block: 0.1875rem;
  padding-inline: 0.5rem;
}

.container:has(:disabled) {
  background-image: var(--bg-dither-3);
  background-size: 3px 3px;
  background-repeat: repeat;
}

.textarea {
  appearance: none;
  background-color: transparent;
  width: 100%;
  min-width: 0;
  font-size: 1rem;
  outline: none;
  resize: none;
  font-family: inherit;
}

.textarea:disabled {
  cursor: not-allowed;
  color: var(--color-ink-100);
  text-shadow:
    -2px -2px 0 #fff,
    -1px -2px 0 #fff,
    0px -2px 0 #fff,
    1px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px -1px 0 #fff,
    -1px -1px 0 #fff,
    0px -1px 0 #fff,
    1px -1px 0 #fff,
    2px -1px 0 #fff,
    -2px 0px 0 #fff,
    -1px 0px 0 #fff,
    1px 0px 0 #fff,
    2px 0px 0 #fff,
    -2px 1px 0 #fff,
    -1px 1px 0 #fff,
    0px 1px 0 #fff,
    1px 1px 0 #fff,
    2px 1px 0 #fff,
    -2px 2px 0 #fff,
    -1px 2px 0 #fff,
    0px 2px 0 #fff,
    1px 2px 0 #fff,
    2px 2px 0 #fff;
}

.minHeight {
  min-height: 3lh;
}

.autoResize {
  field-sizing: content;
}
