@layer base {
  dialog[open] {
    @apply max-w-none max-h-none m-0 p-0;
  }

  button {
    @apply cursor-pointer;
  }

  button:focus:not(:focus-visible) {
    outline: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: inherit;
  }
}
