::view-transition-old(root) {
  animation: 300ms steps(4, end) fade-out;
}

::view-transition-new(root) {
  animation: 300ms steps(4, end) fade-in;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
