.root {
  border: 1px solid currentColor;
  width: 288px;
  height: 14.75rem;
  background-color: var(--color-paper);
}

.toolbar {
  border-bottom: 1px solid currentColor;
  height: 2.25rem;
  display: flex;
  justify-content: space-between;
}

.toolbarLeft {
  display: flex;
  align-items: center;
}

.emojiBtn {
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid currentColor;
  user-select: none;
}

.settingsBtn {
  background-color: var(--color-ink);
  width: 2.25rem;
  height: 2.25rem;
  color: var(--color-paper);
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--color-ink);
  border-bottom: 1px solid var(--color-ink);
}

.settingsBtn:hover {
  background-color: var(--color-paper);
  color: var(--color-ink);
}
