.bodyInner {
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  flex: 1;
}

.formSection {
  padding: 1rem;
}

.handleSection {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.terms {
  text-align: center;
  padding-block: 0.5rem;
}

.termsLink {
  text-decoration: underline;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
